@import "variable";
//color
.text-color {
  color: $text-color !important;
}
.bg-section {
  background-color: rgb(249 243 240);
}
.bg-third {
  background-color: $bg-third;
}
.bg-primary {
  background-color: $color-primary !important ;
}
.bg-secondary {
  background-color: $color-secondary !important ;
}
.bg-input {
  background-color: $text-color !important ;
}
.text-secondary {
  color: $color-secondary !important ;
}
.bg-card {
  background-color: $color-card;
}
.bg-dark {
  background-color: $color-dark !important;
}
.bg-light {
  background-color: $color-light !important;
}
.text-dark {
  color: $color-dark !important;
}
.text-light {
  color: $color-light;
}
.text-gray {
  color: $color-gray;
}
.bg-gray {
  background-color: $color-gray !important;
}
.border-light {
  border-color: $color-border-light !important;
}
.border-dark {
  border-color: $color-border-dark !important;
}
.shadow-primary {
  box-shadow: $shadow-primary;
}
.shadow-light {
  box-shadow: $shadow-light;
}
.shadow-dark {
  box-shadow: $shadow-dark;
}
.text-primary {
  color: $color-primary !important;
}
.trasiton {
  transition: all $transition linear;
}
.fz-h1 {
  font-size: $h1;
}
.fz-h2 {
  font-size: $h2;
}
.h-22 {
  height: 22rem;
}
.fz-h3 {
  font-size: $h3;
}
.fz-h4 {
  font-size: $h4;
}
.fz-h5 {
  font-size: $h5;
}
.fz-h6 {
  font-size: $h6;
}
.fz-text-b1 {
  font-size: $font-size-b1;
}
.fz-text-b2 {
  font-size: $font-size-b2;
}
.fz-text-b3 {
  font-size: $font-size-b3;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
//base
.unlink {
  text-decoration: none;
}
//rounded
.rounded {
  &-10 {
    border-radius: 10px;
  }
}
.height {
  &-600 {
    height: 700px;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//link
.w-100 {
  width: 100%;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-999 {
  z-index: 999;
}
.button-secondary {
  background-color: rgb(246 247 251);
  color: rgb(119 119 119);
  transition: all 0.2s ease-out;
}
.button-secondary:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.p {
  &-8 {
    padding: 8rem;
  }
}
.py {
  &-6 {
    padding: 6rem 0 6rem 0;
  }
  &-8 {
    padding: 8rem 0 8rem 0;
  }
}
.pt {
  &-6 {
    padding-top: 6rem;
  }
  &-8 {
    padding-top: 8rem;
  }
}
.list-none {
  list-style-type: none;
}
.style-checkbox {
  width: 15px;
  height: 15px;
}
.button-price {
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  background-color: $body-color;
  border: 1px solid $text-color;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.button-price:hover {
  background-color: $text-color;
  color: $body-color;
}
.h-200 {
  height: 200px;
}
.img-profile {
  width: 70px;
  height: 70px;
}
.nav-active {
  border-left: 5px solid $color-primary;
}
.nav-item-active:hover {
  border-left: 5px solid $color-primary;
  transition: all 0.2s ease-in;
}
.nav-item-active {
  transition: all 0.2s linear;
}
