/* Thiết lập breakpoint cho tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-nav {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  .log-img {
    display: none;
  }
}

/* Thiết lập breakpoint cho điện thoại di động */
@media only screen and (max-width: 767px) {
  /* CSS cho điện thoại di động ở đây */
  .navbar-nav {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
  .log-img {
    display: none;
  }
}
