$text-color: #292930;
$body-color: #ffff;
$color-primary: #3577f0;
$color-secondary: #ff497c;
$color-card: #badeff;
$color-dark: rgb(214 214 214);
$color-light: #cbd3d9;
$bg-third: #cbd3d944;
$color-border-light: #e3e6e9;
$color-border-dark: #42424a;
$color-gray: #999fae;
$shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
$shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
$shadow-dark: 0 16px 32px 0 rgba(0, 0, 0, 0.04);
$transition: 0.3s;
$h1: 46px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$font-size-b1: 16px;
$font-size-b2: 14px;
$font-size-b3: 12px;
